@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Enact | Login</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet">
    <link href="~/Fonts/font-awesome/css/font-awesome.css" rel="stylesheet">

    <link href="~/Content/animate.css" rel="stylesheet">
    <link href="~/Content/style.css" rel="stylesheet">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</head>

<body class="gray-bg">

    <div class="middle-box text-center loginscreen  animated fadeInDown">
        <div>
            <div>

                <h1 class="logo-name">E</h1>

            </div>
            <h3>Welcome to Enact Admin Portal</h3>
            <p>
                Perfectly designed and precisely prepared for the Enact administrator.
            </p>
            <p>Login in. To see it in action.</p>
            <form class="m-t" role="form" method="post" action="/adminusers/logon">
                <div class="form-group">
                    <input type="text" class="form-control" id="username" name="username" placeholder="Username" required="">
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                </div>
                <button type="submit" class="btn btn-primary block full-width m-b">Login</button>

                <a href="@Url.Action("ForgotPassword", "AdminUsers")"><small>Forgot password?</small></a>
                
            </form>
            <p class="m-t"> <small>City University of London &copy; 2018</small> </p>
        </div>
    </div>

</body>

</html>

<script>
    @ViewBag.scripCall
    function showIncorrect() {
        swal("Incorrect Credentials", "Check your username & password", "warning");
    }
</script>



